apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
data:
  policy.csv: |
    # read-only role definition
    p, role:readonly, applications, get, */*, allow
    p, role:readonly, applications, list, */*, allow
    p, role:readonly, clusters, get, *, allow
    p, role:readonly, projects, get, *, allow
    p, role:readonly, projects, list, *, allow
    # deny any write actions explicitly
    p, role:readonly, applications, sync, *, deny
    p, role:readonly, applications, update, *, deny
    # bind developer user to readonly role
    g, developer, role:readonly
